* {
  box-sizing: content-box;
}
.brand{
	padding-left: 20px;
}
.logo{
	width: 10em;
}
.banner{
	background-image: url(../bg2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.intro{
	padding: 50px;
	flex-wrap: wrap;
}
.intro_section_1{
	width: 300px;
}
.card-body{
	border-bottom: none !important;
	border-top: none !important;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}